<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../../../favicon.ico">
   <title>Narrow Jumbotron Template for Bootstrap</title>
   <!-- Bootstrap core CSS -->
   <link href="https://bootsnipp.com/bootstrap-builder/css/editor.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="https://bootsnipp.com/bootstrap-builder/demo/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
   <style type="text/css">.c1-ui-state-hover {background-color:yellow !important; padding:5px !important }</style>
</head>
<body>
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="">
         <button class="navbar-toggler" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false"
             aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active"></li>
               <li class="nav-item"></li>
               <li class="nav-item"></li>
            </ul>
            <form method="get"  action="/weather/" class="form-inline my-2 my-lg-0">
                <input name="zipcode" class="form-control mr-sm-2" id="search-input" type="text" maxlength="5" placeholder="Zip Code" aria-label="Zip Code">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
         </div>
      </nav>

      <footer class="footer">
         <ul class="list-group" id="favorite-weather-container" style="visibility: hidden; height: 0">
         {% if favorite_weather is defined %}
             {% for zipcode, weather in favorite_weather.items() %}
             <li class="list-group-item"><a href="/weather/?zipcode={{zipcode}}">{{weather.city}}</a><a href="/delete/{{zipcode}}" class="btn btn-default" style="display: inline; float: right;">X</a></li>
             {% endfor %}
         {% endif %}
         </ul>

         <p contenteditable="true">
         {% if weather is not defined %}
         <div class="card" style="margin-top: 30px; display: none">
         {% else %}
         <div class="card" style="margin-top: 30px;">
            <div class="card" style="margin-top: 0px;">
               <div class="card-body" style="margin-top: 0px;">
                  <h4 class="card-title">
                      <b>{{weather.city}}</b>
                  </h4>

                  <div class="row" style="">
                        <div class="col-sm-4">
                            <h1>{{weather.temperature}}° <h6 style="">{{weather.description}}</h6> </h1>
                        </div>
                        <div class="col-sm-4 col-5">
                           <h3></h3>
                        </div>
                        <div class="col-sm-4">
                           <h5 style="">Precipitation 7%</h5>
                           <h5 style="">Humidity {{weather.humidity}}%</h5>
                           <h5 style="">Wind {{weather.wind}} mph</h5>
                           <div class="row" style="">
                              <div class="col-sm-4"></div>
                              <div class="col-sm-4 col-5"></div>
                              <div class="col-sm-4"></div>
                           </div>
                        </div>
                     </div>
                     <form method="POST" action="/add/" class="form-inline my-2 my-lg-0">
                         <input name="zipcode" type="hidden" value={{weather.zipcode}}>
                         <input name="city" type="hidden" value={{weather.city}}>
                         <button class="btn btn-primary" type="submit">Add to favorites</button>
                     </form>
                    
               </div>
            </div>
         {% endif %}
         </div>
      </footer>
   </div>
   <script>
      let searchInput = document.getElementById("search-input"); 
      let favoriteWeather = document.getElementById("favorite-weather-container");

      searchInput.addEventListener("input", showfavoriteWeather);
      function showfavoriteWeather() {
          if(searchInput.value.length > 0) {
              favoriteWeather.style.visibility = "visible";
              favoriteWeather.style.height     = "auto";
          } else {
              favoriteWeather.style.visibility = "hidden";
              favoriteWeather.style.height     = "0";
          }
      }

   </script>
</body>
</html>

